PORT=
SERVER_URL=
BASE_URL= 
MONGODB_URL=
 
GMAIL_APP_USER=
GMAIL_APP_PASSWORD=
 
ADMIN_PASSWORD=
ADMIN_EMAIL=
 

SALT_ROUNDS=

CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
 
JWT_ACCESS_TOKEN_EXPIRESIN=
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRESIN=
OTP_EXPIRY_MINUTES=
OTP_TOKEN_EXPIRESIN=
 
